@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600;700&family=Nunito+Sans:wght@400;600;700&family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;600&display=swap");


//Vars
$primary: #ffffff;
$secondary: #F99EA0;
$CTA: #3cb8df;

$background-blue: #A5D2F5;
$blue: #3E9FEA;
$background-green: #A6EBB9;
$green: #2CC154;
$background-red: #f8bdbe;
$red: #F5494D;

//Text styles
.title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  margin: 40px 0 20px 0;
}
.header {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}
.subheader {
  font-family: "Martel Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}
.text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.g {
  color: #515151 !important;
}
.w {
  color: white !important;
}
.inputMsg{
  font-family: "Baloo Chettan 2";
  font-size: 20px;
  font-weight: bold;
}

//===========Global styles============
.block{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: 5px 15px !important;
  cursor: pointer;
}
.rectangle{
  background-color: $secondary;
  width: 100%;
  height: 100%;
}
.clock{
  font-size: 80px;
}
.input{
  background-color: #ededed !important;
  margin: 2px 0 20px 0;
  border: none !important;
}
//==========Buttons===========
.playpause{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 0 5px;
}
.play{
  background-color: #CFCFCF;
}
.pause{
  background-color: $background-blue;
}
.restart{
  background-color: $secondary;
}
.loginBtn{
  background-color: $background-blue;
  width: 100%;
  height: 50px;
  margin-top: 30px;
  border-radius: 5px;
  font-family: "Baloo Chettan 2";
  font-size: 24px;
  font-weight: bold;
  color: $blue;
}
//===========touchpad buttons=============
.touchPad{
  position: fixed;
  bottom: 20px;
  width: 100%;
  justify-content: center;
  button{
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
  }
  .b{
    color: $blue;
    background-color: $background-blue;
    &:hover{
      background-color: #c2dff6;
    }
  }
  .r{
    color: $red;
    background-color: $secondary;
    &:hover{
      background-color: $background-red;
    }
  }
  .g{
    color: $green !important;
    background-color: $background-green;
    &:hover{
      background-color: #C5F2D1;
    }
  }
}

.focus{
  border: solid $background-blue 2px !important;
}
.scrollbar{
  height: 600px;
}

//Responsivestyles
// @media screen and (max-: 1060px) {
//   .page{
//     width: 80% !important;
//   }
// }
